*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-size: 1.3rem;
}

.container{
max-width: 1250px;
margin: 0 auto;
}
.d-flex{
  display: flex;
}

.debug{
background-color: rgba(112, 211, 211, .5);
border: 1px solid black;
}

header{
  position: fixed;
  background-color: white;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

header .container{
  width: 100%;
}

.row{
  display: flex;
  flex-wrap: wrap;
}


.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

header li{
  display: inline-block;
  padding: 25px;
}

header ul{
  list-style: none;
}

header a{
  text-decoration: none;
  color: black;
}

header a:hover{
  text-decoration: underline;
}

.logo{
  width: 145px;
}

.btn{
  color: white;
  padding: 10px 20px;
  background-color: #0061FE;
  border-color: #0061FE;
  font-size: 1.4rem;
}

.btn.j{
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-right{
  text-align: right;
}

/* ******* MAIN ********* */

.jumbotrom{
  position: relative;
  background-color: #B4D0E6;
  min-height: 740px;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 1000px;
}

main .col ul{
  list-style: none;
  padding-top: 50px;
}

main .col ul li{
  padding-top: 15px;
}

.container-j{
  max-width: 1250px;
  min-height: 620px;
  position: absolute;
  top: 150px;

}

.col.titolone{
  width: 100%;
  font-size: 5rem;
  font-weight: bold;
}

.titolo-main{
  margin-top: 210px;
  font-size: 3rem;
  font-weight: bolder;
}

.jumbotrom .testo{
  position: relative;
  width: 40%;
  padding-top: 50px;
  height: 400px;
}

.jumbotrom .testo button{
  margin-top: 30px;
  margin-bottom: 30px;
}

.jumbotrom .imgj{
  width: 60%;

}

.img-jumbo{
  position: relative;
  bottom: 60px;
  left: 35px; 
}

.jumbotrom img{
  width: 750px;
}

.arrow{
  font-size: 4rem;
  position: absolute;
  bottom: 0;
}

.blue{
  color: #0061FE;
}

.grey{
  color: #E5E5E7;

}

.opzioni{
  margin-top: 70px;
  margin-bottom: 70px;
}

.opzioni span:first-child{
  margin-right: 40px;
}

.container .row{
  display: flex;
  flex-wrap: wrap;
}

.container .row .col{
  width:300px;
  border: 1px solid #E5E5E7 ;
  margin-right: 30px;
}

.col-2{
  padding: 15px;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #E5E5E7 ;
}

.col-3{
  padding-top: 40px;
  padding-left: 30px;
  height: 910px;
}

.col-3 h3{
  padding-bottom: 15px;
}

.col-3 h5{
  padding-bottom: 50px;
}

.opacity{
  color: rgba(0, 0, 0, .5);
}